/* Simple css, using a white, grey and blue color theme */

/* Variables to use across the css file */
:root {
    --content-width: 800px;

    --spacing-unit: 1rem;

    --grey: #888888;
    --blue: #6688AA;
    --blue-grey: #778899;

    --grey-less: #AAAAAA;
    --grey-light: #CCCCCC;
    --grey-white: #EEEEEE;
    --grey-more: #666666;
    --grey-dark: #444444;
    --grey-black: #222222;

    --blue-grey-less: #AABBCC;
    --blue-grey-light: #99AABB;
    --blue-grey-more: #445566;
    --blue-grey-dark: #334455;

    --font-family: "Verdana", Sans-serif;
    --font-weight: 400;

    --font-size-tiny: 7.5px;
    --font-size-small: 10px;
    --font-size-minus: 12.5px;
    --font-size-norm: 15px;
    --font-size-plus: 17.5px;
    --font-size-large: 20px;
    --font-size-huge: 22.5px;
    
    --icon-size-small: 32px;
    --icon-size-mid: 64px;
    --icon-size-large: 128px;

    --image-size-small: 512px;
    --image-size-mid: 1024px;
    --image-size-large: 2048px;

    /* Text variables */
    --text-color-h1: var(--blue-grey-dark);
    --text-color-h2: var(--grey-dark);
    --text-color-h3: var(--blue-grey-more);
    --text-color-h4: var(--grey-more);
    --text-color-h5: var(--blue);
    --text-color-h6: var(--blue-grey);
    --text-color-p: var(--grey-black);
    --text-color-list: var(--blue-grey-dark);
    --text-color-link: var(--blue-grey);
    --text-color-link-hover: var(--blue-grey-more);

    /* Body variables */
    --body-background-color: var(--grey-light);
    --body-font-size: var(--font-size-norm);
    --body-text-color: var(--text-color-p);

    /* Head variables */
    --head-font-size: var(--font-size-large);
    --head-text-color: var(--text-color-h1);

    /* Foot variables */
    --foot-font-size:  var(--font-size-small);
    --foot-text-color: var(--text-color-h6);
}

* {
    font-family: var(--font-family);
    font-weight: var(--font-weight);

    /* Disabling unwanted things */
    text-decoration: none;
    cursor: unset;
}

p {
    color: var(--text-color-p);
    font-size: var(--font-size-norm);
}

h1 {
    color: var(--text-color-h1);
    font-size: var(--font-size-huge);
}

h2 {
    color: var(--text-color-h2);
    font-size: var(--font-size-large);
}

h3 {
    color: var(--text-color-h3);
    font-size: var(--font-size-plus);
}

h4 {
    color: var(--text-color-h4);
    font-size: var(--font-size-minus);
}

h5 {
    color: var(--text-color-h5);
    font-size: var(--font-size-small);
}

h6 {
    color: var(--text-color-h6);
    font-size: var(--font-size-tiny);
}

ul {
    margin-left: var(--spacing-unit);
    color: var(--text-color-list);
    letter-spacing: 1px;
}

ol {
    list-style-type: square;
}

head, header {
    font-size: var(--head-font-size);
    color: var(--head-text-color);
}

body {
    font-size: var(--body-font-size);
    color: var(--body-text-color);
    background-color: var(--background-color);
}

foot, footer {
    font-size: var(--foot-font-size);
    color: var(--foot-text-color);
}

.container {
    width: 75%;
    max-width: var(--content-width);
    margin-right: auto;
    margin-left: auto;
}

img {
    width: auto;
    height: auto;
    padding: var(--spacing-unit);
}

.img-thumb {
    width: 30%;
    height: auto;
    max-width: var(--image-size-small);
    max-height: auto;
}

.img-icon {
    width: var(--icon-size-small);
    height: var(--icon-size-small);
}

.menu-gallery {
    display: flex;
    flex-basis: inherit;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-gallery-img {
    width: 30%;
    height: auto;
    max-width: var(--image-size-mid);
    max-height: auto;
}

.gallery-container {
    display: flex;
    flex-basis: inherit;
    flex-flow: column;
    justify-content: center;
}

.gallery-img {
    width: 40%;
    height: 40%;
}

.link {
    color: var(--text-color-link);
    cursor: pointer;
}

.link:hover {
    color: var(--text-color-link-hover);
}
