<footer>
    <center>
        <a href="http://git.tehj.org">
            <img class="img-icon" src="/files/images/github.png" alt="Github" />
        </a>
        <a href="http://job.tehj.org">
            <img class="img-icon" src="/files/images/linkedin.png" alt="Linkedin" />
        </a>
        <a href="mailto:contact@tehj.org">
            <img class="img-icon" src="/files/images/email.png" alt="Contact" />
        </a>

        <br>

        <span>
            <script>document.write(new Date().getFullYear());</script>
        </span>
        <span>&copy;</span>

        <a href="{{ site.baseurl }}">{{ site.name }}</a>
    </center>
</footer>